
#imgg {
    margin-left: 55px;
    display: inline-block;
}

#imgg2 {
    margin-left: 55px;
    display: inline-block;
}

#texto {
    margin-left: 75px;
    width: 48%;
    display: inline-block;
    margin-bottom: 30px;
    border: solid 3px;
    background-color: #e4e4e4;
}

#texto2 {
    margin-left: 75px;
    width: 48%;
    display: inline-block;
    margin-bottom: 30px;
    border: solid 3px;
    background-color: #e4e4e4;
}

#logoa {
    margin-left: 15px;
    margin-top: 36px;
    display: inline-block;
    height: 125px;
}

#burua {
    margin-left: 207px;
    display: inline-block;
}
#fondo {
    background-image: linear-gradient(to right,#2575fc 0%, #6a11cb 100%);
    margin-top: 0;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 30px;
    height: 200px;
}



#kolorea{
    margin-left: 5%;

}


#bi {
    border: solid;
    margin-bottom: 20px;
    background-color: white;
    margin-left: 366px;
    margin-right: 35px;
    width: 61%;
    background-color:#e4e4e4;
}



#argazkiaikasgaiak {
    margin-bottom: 20px;
    margin-top: 80px;
}

h1{
    color: rgb(0, 0, 0);
    margin-left: 42.125px;
}

h3{
    margin-left: 20px;
}

p{
    margin-left: 20px;
}

ol {
    margin-left: auto;
}

#tituloa{
    text-align: center;
    display: block;
    margin-left: 50px;
}

#bideoa{
    margin-bottom: 70px;
    margin-top: 80px;
}


#principal {
    display: inline-block;
    margin-left: 50px;
    margin-top: 18px;
    position: absolute;
}

header {
    margin: -6px
}

#ikasgaiak{
    border: solid 5px;
}
