header{
    background-color: rgb(123, 0, 148);
    height: 136px;

}
#encabezado{
    margin: -8px;
}

#titulo{
    background-color: rgb(123, 0, 148);
    margin-right: 5px;
    margin-left: 50px;
    display: inline-block;
    
}

#letra{
    background-color: rgb(123, 0, 148);
    display: inline-block;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    margin-bottom: 40px;
}

nav {
    float: left;                        
    width: 100%;
    min-width: 650px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    float: left;
    padding: 15px 15px;
    width: 18.315%;
    background-color: #000000;           
    border-left: 1px solid rgb(123, 0, 148);
    border-right: 1px solid rgb(123, 0, 148);
    border-top: 2px solid rgb(0, 0, 0);
    border-bottom: 2px solid rgb(0, 0, 0);
}

nav ul li a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}
nav ul li:hover {
    background-color:  rgb(58, 58, 58);
    cursor: pointer;
}

#imagen {
    float: right;
    margin-right: 5px;
}

#foto-cabe {
    vertical-align: middle;
    background-color: rgba(0, 0, 0, 0);
    
}