/*Klase bakoitzari kolorea emateko*/

.Sartze_soziolaborala {
    background-color: #fff23c;
}
.Unitate_bizidunei_arreta {
    background-color: #3eff3e;
}
.Komunitate_bitartekaritza {
    background-color: #4f78ff;
}
.Norberaren_autonomia_sustatzea {
    background-color: #51ebff;
}
.Hezkuntza_esku_hartzeko_laguntza {
    background-color: #fd47df;
}
.Ingles_teknikoa {
    background-color: #ff4141;
}
.Ordua {
    background-color: gray;
}
.Astea {
    background-color: gray;
}
#Atsedenaldia {
    background-color: gray;
}


/*Taularen itxura*/

th {
    text-align: center;
}

table {
    background-color: black;
    border: 2px solid black;
    text-align: center;
    border-width: 8px;
    margin-top: 130px;
    margin-bottom: 70px;
    height: 450px;
}

td {
    text-align: center;
}


th,td{
   padding: 20px; 
}

#egutegia{
    border: outset 10px;
}

